{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block meta_title %}{{ article.title|striptags  }}{% endblock meta_title %}

{% block css %}
  <link rel="stylesheet" href="/theme/css/post-detail.css">
  {{ super() }}
{% endblock css %}

{% if article.description %}
  {% block meta_description %}
    {{ article.description }}
  {% endblock meta_description %}
{% endif %}

{% block seo_meta_tags %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}
{% endblock seo_meta_tags %}

{% block content %}
  <section class="article">
    <header>
      <h2 class="article-title">
        <a
          href="{{ SITEURL }}/{{ article.url }}"
          rel="bookmark"
          title="Permalink to {{ article.title|striptags }}"
        >
          {{ article.title }}
        </a>
      </h2>
      {% import 'partials/translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    </header>
    <div class="article-body">
      <div class="article-summary">{{ article.summary }}</div>
      {{ article.content }}
    </div>

    <footer class="article-footer">
      <time datetime="{{ article.date.isoformat() }}">
        Date <a href="">{{ article.locale_date }}</a>
      </time>

      {% if article.category %}
        <div class="category">
          {% if article.lang == "en" %}Category{% elif article.lang == "fr" %}Catégorie{% endif %} <a href="{{ SITEURL }}/{{ article.category.url }}" rel="nofollow">{{ article.category }}</a>
        </div>
      {% endif %}

      {% if article.tags %}
        <div class="tags">
          Tags
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" rel="nofollow">
              {{ tag }}{% if not loop.last %},{% endif %}
           </a>
          {% endfor %}
        </div>
      {% endif %}
    </footer>
  </section>
{% endblock content %}

