{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/theme/css/post-list.css">
  {{ super() }}
{% endblock css %}

{% block content %}
  <section id="content">
    <ul class="post-list">
      {% for article in articles_page.object_list %}
        <li>
          <a
            href="{{ SITEURL }}/{{ article.url }}"
            rel="bookmark"
            title="Permalink to {{ article.title|striptags }}"
          >
            <article>
              <h2 class="article-title">
                {{ article.title }}
              </h2>
              <time class="article-publication-date" datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
              </time>
              <div class="article-summary">
                {{ article.summary }}
                <span class="readmore-link">Read more</span>
              </div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if articles_page.has_other_pages() %}
      {% include 'pagination.html' %}
    {% endif %}
  </section>
{% endblock content %}
