{% macro translations_for(article) %}
  {% if article.translations %}
    {% for translation in article.translations %}
      {% if translation.lang == "fr" %}
        <a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}" class="translation-link">Lire en français</a>
      {% else %}
        <a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}" class="translation-link">Read in english</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
  {% if entry.translations %}
    {% for translation in entry.translations %}
      <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
    {% endfor %}
  {% endif %}
{% endmacro %}
