#website-banner {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

#website-banner .banner-link {
  display: flex;
  align-items: center;
}

#website-banner .banner-logo {
	width: 10rem;
	margin-right: 1rem;
}

#website-banner .banner-title {
  margin: 0;
  color: var(--text-clor);
	font-size: 2rem;
}

#website-banner h1 a {
  text-decoration: none;
  transition: color .25s;
}

#website-banner h1 a:hover {
  color: var(--secondary-color);
}
