@import "banner.css";
@import "links.css";
@import "footer.css";

body {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5em;
  font-size: 1.2em;
  background-color: var(--background-color);
}

::selection {
	background: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  position: relative;
  margin-bottom: .5rem;
  line-height: 1em;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
	font-style: italic;
}

h3::before {
  content: "|";
  position: absolute;
  left: -1.5rem;
  color: var(--primary-color);
}

h4 {
  font-size: 1.5rem;
	font-style: italic;
}

h4::before {
  content: "|";
  position: absolute;
  left: -1.5rem;
  color: var(--primary-color);
}

ul { padding-left: 1rem; }

.todo {
  background-color: #ffff00;
  padding: .1em .3em;
}

code {
  font-family: var(--monospace-font-family); 
}

@media (min-width: 750px) {
  h2 { font-size: 2em; }
}

