#website-footer {
  margin: 5em 0 1rem 0;
  text-align: center;
  color: var(--secondary-color);
}

#website-footer ul {
	list-style-type: none;
}

#website-footer li {
	display: inline-block;
}

#website-footer a {
  font-style: italic;
}

#website-footer .language-selector {
  margin-left: 2em;
}

#website-footer .language-selector li {
  margin: 0;
}

#website-footer .language-selector a {
  padding: 0 .5em;
  color: var(--secondary-color);
}

#website-footer .language-selector li.current-language {
  color: var(--text-color);
}

#website-footer .language-selector li.current-language::after {
  content: "➔";
  color: var(--secondary-color);
  margin-left: .5rem;
}
