a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

a[href^="http"]:not(:has(img))::after {
	content: "";
	display: inline-block;
	background-image: url(../img/external-icon.svg);
	background-size: contain;
	width: .75rem;
	height: .75rem;
	margin-left: .5rem;
}

.readmore-link,
.article-body p a,
.article-body ul a {
  &:not(:has(img)) {
    padding: .1em .3em;
    color: var(--link-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    text-decoration: none;
    box-decoration-break: clone;
  }
}

.article-body p a:not(:has(img)):hover {
  background-color: var(--darker-primary-color);
}

.translation-link::before {
  content: "";
  display: inline-block;
  mask: url(../img/translation-icon.svg);
  mask-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  vertical-align: bottom;
  background-color: var(--text-color);
}
