#menu ul {
  padding: 0 0 .5rem 0;
  list-style-type: none;
}

#menu li {
  display: inline;
  margin-right: 1rem;
}

#menu a {
  position: relative;
  color: var(--secondary-color);
  padding: .5em 0;
}

#menu a:hover {
  text-decoration: none;
}

#menu a:hover::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 3px;
  background-color: var(--secondary-color);
}

#menu li.active a {
  font-weight: bold;
}

#menu li.active a::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 3px;
  background-color: var(--secondary-color);
}
