.post-list {
  padding: 1rem;
  margin: 0;
  list-style-type: none;
}

.post-list h2 not(:first-child) {
  margin-top: 4rem;
}

.post-list a:hover,
.post-list a:focus {
  text-decoration: none;
  outline: solid 1px var(--secondary-color);
  outline-offset: 1rem;
}

.post-list .article-publication-date {
  font-style: italic;
  color: var(--secondary-color);
}

.post-list .readmore-link::after {
  content: "➔";
  margin-left: .5rem;
}

@media (min-width: calc(750px + 4rem)) {
  .post-list {
    padding: 0;
  }

  .post-list h2:first-child {
    margin-top: 4rem;
  }

  .post-list a:hover,
  .post-list a:focus {
    outline-offset: 2rem;
  }
}
