:root {
  --background-color: #FFFFFF;
  --primary-color: #BDFFDD;
  --darker-primary-color: #A8E8C7;
  --secondary-color: #AEAEAE;
  --text-color: #3A3A3A;
  --link-color: var(--text-color);
  --font-family: "IBMPlex";
  --monospace-font-family: "IBMPlex Mono";
  --page-width: 750px;
}

@media (prefers-color-scheme: dark) {
   :root {
       --background-color: #121212;
       --primary-color: #83E1B1;
       --text-color: #FFFFFF;
       --link-color: var(--background-color);
   }
   img {
    filter: brightness(.8) contrast(1.2);
   }
}

@font-face {
  font-family: "IBMPlex";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexSans-Regular-Latin1.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlex";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexSans-Bold-Latin1.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlex";
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexSans-Italic-Latin1.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexMono-Regular-Latin1.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlex Mono";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexMono-Bold-Latin1.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlex Mono";
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexMono-Italic-Latin1.woff2) format("woff2");
}

@font-face {
  font-family: "IBMPlex Mono";
  font-style: italic;
  font-weight: 700;
  font-display: auto;
  src: url(../fonts/IBMPlex/IBMPlexMono-BoldItalic-Latin1.woff2) format("woff2");
}
